.body-index {
    background-image: url("../img/background-index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

<<<<<<< HEAD
=======
.img {
    width: 300px;
}
>>>>>>> d0c376d20e1ef2c9770ac531520d4a915962b9be
